body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e64607;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile {
    padding: 20px;
    color: rgb(0, 0, 0);
    align-items: center;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}